.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

body header .navbar {
  width: 100%;
  height: 70px;
  margin: 0 auto; }
body header .navbar-inverse {
  background-color: #EBECEC;
  color: #000;
  border-color: #EBECEC; }
body header .container-fluid .navbar-header .navbar-brand {
  float: left;
  height: 66px;
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  padding: 8px; }
body header .container-fluid .navbar-header .logo-section {
  width: 85px;
  height: 50px;
  overflow: hidden; }
body .carousel .carousel-inner #arab1 {
  background-image: url("../images/Arab1.jpg");
  background-size: cover; }
body .carousel .carousel-inner #arab2 {
  background-image: url("../images/arab2.jpg");
  background-size: cover; }
body .carousel .carousel-inner #arab3 {
  background-image: url("../images/arab3.jpg");
  background-size: cover; }
body .main-nav {
  width: 100%;
  background-color: #EBECEC; }
  @media only screen and (max-width: 768px) {
    body .main-nav {
      background-color: none; } }
  body .main-nav .tab-main {
    width: 100%;
    display: inline-block;
    height: 50px;
    float: left;
    list-style-type: none; }
    @media only screen and (max-width: 768px) {
      body .main-nav .tab-main {
        background-color: none; } }
  body .main-nav .tab-sub, body .main-nav .active {
    display: inline-block;
    float: left;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    height: 60px; }
    @media only screen and (max-width: 768px) {
      body .main-nav .tab-sub, body .main-nav .active {
        width: 100%; } }
  body .main-nav .active {
    background-color: #fff; }
    @media only screen and (max-width: 768px) {
      body .main-nav .active {
        width: 100%; } }
  body .main-nav .active::after, body .main-nav .mainview .more-detail .present, body .mainview .more-detail .main-nav .present {
    top: 0;
    left: 47%;
    width: 10%;
    height: 4px;
    content: " ";
    display: block;
    position: absolute;
    border-radius: 10px;
    background: none repeat scroll 0% 0% #8DC63F;
    margin: 40px 0 0; }
body .overview {
  width: 100%;
  height: 67px; }
body .mainview {
  width: 100%;
  padding-top: 47px; }
  body .mainview h1 {
    color: #5f6366;
    margin: 40px 0 50px; }
    @media only screen and (max-width: 768px) {
      body .mainview h1 {
        width: 100%;
        text-align: center; } }
  body .mainview p {
    font-size: 25px;
    font-weight: 300;
    color: #888D91;
    width: 100%; }
  body .mainview .circle-img {
    width: 313px;
    padding-bottom: 20px;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      body .mainview .circle-img {
        height: auto; } }
  body .mainview h2 {
    color: #5f6366;
    padding: 11px 24px 16px; }
    @media only screen and (max-width: 768px) {
      body .mainview h2 {
        width: 100%; } }
  body .mainview .more-detail {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    body .mainview .more-detail li {
      float: left;
      width: 25%; }
      @media only screen and (max-width: 481px) {
        body .mainview .more-detail li {
          width: 50%;
          float: left; } }
    body .mainview .more-detail .link {
      display: inline-block;
      color: #888D91;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      font-size: 18px; }
  body .mainview .service-deal {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: #888D91;
    height: auto;
    padding-left: 4px;
    padding-right: 5px; }
  body .mainview .service-partners {
    background: none repeat scroll 0% 0% #D3D3D3;
    width: 100%;
    display: inline-block; }
    body .mainview .service-partners .container .row .partner-list {
      list-style-type: none;
      display: inline-block;
      padding-left: 70px; }
    body .mainview .service-partners .container .row .partner-image {
      width: 25%;
      display: inline-block;
      float: left; }
      @media only screen and (max-width: 998px) {
        body .mainview .service-partners .container .row .partner-image {
          width: 40%;
          float: left; } }
    body .mainview .service-partners .container .row .partner-logo {
      width: 230px;
      height: 130px;
      padding: 5px; }
body footer {
  background-image: url("../images/footer-gradients.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 500px;
  margin: 0; }
  body footer .container .desktop-footer {
    width: 100%;
    height: auto;
    padding-top: 28px; }
    body footer .container .desktop-footer .logo-image {
      width: 88px;
      height: 100px; }
    body footer .container .desktop-footer .footer-content {
      width: 50%;
      padding-left: 18px; }
      body footer .container .desktop-footer .footer-content .navbar .container-fluid ul li a:hover {
        background-color: #EBECEC; }
      body footer .container .desktop-footer .footer-content .sponser-part .caption {
        color: #8D8F92; }
      body footer .container .desktop-footer .footer-content .sponser-part .sponser-pic {
        width: 85px;
        height: 20px; }
    body footer .container .desktop-footer .social-link {
      text-align: right;
      width: 40%; }
      body footer .container .desktop-footer .social-link .icon {
        font-size: 50px; }
  body footer .container .mobile-footer .footer-details .navbar .container-fluid ul li a:hover {
    background-color: #EBECEC; }
  body footer .container .mobile-footer .footer-details .social-link {
    text-align: center;
    width: 100%; }
    body footer .container .mobile-footer .footer-details .social-link .icon {
      font-size: 50px; }
  body footer .container .mobile-footer .logos .logo-image {
    width: 58px;
    height: 30px;
    padding-left: 10px; }
  body footer .container .mobile-footer .logos .sponser-part {
    float: right; }
    body footer .container .mobile-footer .logos .sponser-part .caption {
      color: #8D8F92; }
    body footer .container .mobile-footer .logos .sponser-part .sponser-pic {
      width: 65px;
      height: 30px;
      padding-right: 10px; }

/*# sourceMappingURL=910.css.map */
