.portlet {
    background: #3399ff;
    padding: 20px;
    list-style: none;
    text-align: center;
    width: 100%
}
.portlet-content {
    background: #cce5ff;
    margin: 5px;
    text-align: center;
}
.portlet-placeholder {
    border: 1px dotted black;
    width: 300px;
    height: 50px;
    /*position: relative;*/
}
/*.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
}*/
#toggle {
    width: 5px
    /*height: 4px;*/
    float: right;
    margin-top:2px;
    margin-left:2px;
}
.portlet-header {
   font-size: 20px;
   background-color: #3399ff; 
   width: 100%;
}
button {
    width: 25px;
    height: 25px;
    float: right;
    font-weight: bolder;
}